.cardGrid {
  padding-top: 64px;
  padding-bottom: 64px;
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cardMedia {
  padding-top: 56.25%;
}
.cardContent {
  flex-grow: 1;
}
.cardContent label {
  font-weight: 500;
}

.recipeDialogTitle {
  min-width: 500px;
  text-align: center;
}
